# Numerous always-ignore extensions
*.bak
*.patch
*.diff
*.err

# temp file for git conflict merging
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache
*.tmp.html
*.dump

# OS or Editor folders
.DS_Store
._*
.cache
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
thumbs.db
*.iml

# Folders to ignore
.hg
.svn
.CVS
.idea
node_modules/
jscoverage_lib/
bower_components/
dist/
npm-debug.log
package-lock.json
build/conf/constant.tmp.js
src/assets/scss/common.scss.BACKUP.10944.scss
src/assets/scss/common.scss.BASE.10944.scss
src/assets/scss/common.scss.LOCAL.10944.scss
src/assets/scss/common.scss.REMOTE.10944.scss
.vscode
.cache-loader/
